.custom-table{
    margin: 50px;
}

.table-container{
    padding-left: 70px;
    padding-right: 70px;;
}

/* pag competições */

.container-fluid{
    padding-top: 15px;
}

#table-comp{
    padding-bottom: 15px;
}

#coordenadores{
    padding-bottom: 20px;
}

#proposta{
    margin-bottom: 10px;
}
/*-----------------*/


/* pag submissão de trabalhos*/
#first-title{
    padding-top: 80px;
}
/*-----------------*/
.menu-dropdown{
    color: #1B100A;
    cursor: pointer;

}

#dropdown-list {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

#center-img{
display: block;
margin-left: auto;
margin-right: auto;
width: 68%;
}



/*---- Pag webnars -----*/

.tutoriais hr{ 
   margin: 0px;
   padding: 0px;
    
}
#tutoriais-img{
    padding-top: 20px;
    padding-left: 20px; 
}

#tutoriais-img img{
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

.tutoriais-text{
    padding-left: 20px;
    text-align: top;
}

.tutoriais-text #nome{
    color: #9195a2;
    margin-bottom: 7px;
}

.tutoriais-text h6{
    margin-bottom: 2px;
}




/* Seção de orientações*/

#link-tutorial{
    padding: 0 0 0 0 !important;
}