.custom-table{
    margin: 50px;
}

.table-container{
    padding-left: 70px;
    padding-right: 70px;;
}

/* pag competições */

#competicao-app-item{
    padding-top: 10px;
}
#tittle-competicoes{
    padding-top: 10px;
}

.container{
    padding:10px;
}

/*-----------------*/

/* pag submissão de trabalhos*/

#tittle-submissao{
    padding-top: 85px;
}